.bg-nav {
    background-color: #FFFFFF !important;
}
 .AppartMar{
 font-family: 'Seymour One';
 font-style: normal;
 font-weight: 400;
 font-size: 31px;
 line-height: 39px;
 color: black;
 text-decoration: none;
}
.items-navbar{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;;
}
.items-navbar:hover{
        background-color:#333; 
        color: #fff;
        border-radius: 5px;
}